## Calculating Gender Composition from Writers List

Author: Oliver Gladfelter

Date: 4/25/18

In [207]:
import pandas as pd
import numpy as np

episodesData = pd.read_csv("top10ComediesWithWriters.csv", encoding='latin-1')
episodesData = episodesData.replace(np.nan, '', regex=True)

In [386]:
episodesData.head(3)

,tconst,primaryTitle,startYear,runtimeMinutes,averageRating,numVotes,parentTconst,series,episodeNumberInt,seasonNumberInt,totalNum,writers
0,tt0515236,Pilot,2003,21,8.3,2290,tt0367279,Arrested Development,1,1,1,Mitchell Hurwitz
1,tt0515256,Top Banana,2003,22,8.6,1986,tt0367279,Arrested Development,2,1,2,"Abraham Higginbotham, Mitchell Hurwitz, John L..."
2,tt0515212,Bringing Up Buster,2003,22,8.2,1826,tt0367279,Arrested Development,3,1,3,"Richard Rosenstock, Mitchell Hurwitz, Abraham ..."

In [240]:
import json

from urllib.request import urlopen

# to determine writer gender based on name, we use the Gender API found at https://gender-api.com/

# key obtained from Gender API
myKey = ""

def writerGender(writer):
    """
    Given a full writer name (ex: "Oliver Gladfelter), call the Gender API on the first name
    and return a list containing the predicted gender of name and confidence level
    """
    url = "https://gender-api.com/get?key=" + myKey + "&name=" + writer.split(' ')[0]
    response = urlopen(url)
    decoded = response.read().decode('utf-8')
    data = json.loads(decoded)

    return [data['gender'], data['accuracy']]

Although we now have an API and accompanying function to derive gender from a writer's name, we do not want to apply these to the episodesData data frame itself. Because unique writer values often repeat (as in most writers write multiple episodes), this would result in calling the API over 11,000 times, which is problematic. Instead, we want to create a new dataframe, in which each writer and their corresponding gender is observed once. This smaller dataframe will act as a key.

In [212]:
writerDict = {}

# because each episodes' writers are stored as a single string, 
# seperated by commas, create a list of writers by using str.split()
for episode in range(0, len(episodesData)): 
    writersNoSpace = episodesData['writers'][episode].replace(', ', ',')
    episodesWriters = writersNoSpace.split(',')
    
    # for each writer in the list, add to the dictionary of writers
    for writer in episodesWriters:
        if writer not in writerDict:
            writerDict[writer] = 1
        else: 
            writerDict[writer] = writerDict[writer] + 1

In [237]:
# convert dictionary into a dataframe
writerDictDF = pd.DataFrame(list(writerDict.items()), columns=['Writer', 'Episodes Written'])
writerDictDF = writerDictDF.sort_values(by = 'Episodes Written', ascending = False)
writerDictDF = writerDictDF.reset_index()
del writerDictDF['index']
writerDictDF.head()

            Writer  Episodes Written
0  James L. Brooks               630
1    Matt Groening               630
2        Sam Simon               630
3  David Zuckerman               304
4  Seth MacFarlane               304

This new dataframe includes only 472 observations, one for each unique writer found in the episodesData dataframe. We can now apply the writerGender() function defined above to determine the gender of each writer. Once calculated, two supporting functions seperate the returned gender and prediction accuracy list into seperate values, attaching each as columns to the dataframe.

In [241]:
writerDictDF['genderAndAccuracy'] = ''

writerDictDF['genderAndAccuracy'] = writerDictDF['Writer'].apply(writerGender)

def getGender(value):
    return value[0]

def getAccuracy(value):
    return value[1]

writerDictDF['gender'] = ''
writerDictDF['gender'] = writerDictDF['genderAndAccuracy'].apply(getGender)
writerDictDF['accuracy'] = ''
writerDictDF['accuracy'] = writerDictDF['genderAndAccuracy'].apply(getAccuracy)

del writerDictDF['genderAndAccuracy']

In [310]:
writerDictDF.head()

            Writer  Episodes Written gender  accuracy
0  James L. Brooks               630   male        99
1    Matt Groening               630   male       100
2        Sam Simon               630   male        85
3  David Zuckerman               304   male        99
4  Seth MacFarlane               304   male        99

In [244]:
writerDictDF.to_csv("C:\\Users\\Oliver\\Documents\\imbd episodes\\genderOfWriters.csv")

Now that we have obtained the gender for each writer, the next step is to add genders to the episodesData dataframe. A merge between the two dataframes would not be successful because multiple writers are recorded single strings in the episodesData dataframe. Instead, we create a third dataframe, in which each writer of each episode is listed individually in a row. This will allow for a merge with the writerDictDF dataframe.

In [ ]:
writingStaff = []

for index, row in episodesData.iterrows():
    
    if row['writers'] != r'\N':
        episodes = row['tconst']
        writerGenders = row['writers']
        
        # for each writer included in the writers column of episodesData, create a new row for that writer
        for writer in writerGenders.split(','):
            newRow = [episodes, writer]
            writingStaff.append(newRow)

writingStaffDF = pd.DataFrame(writingStaff, columns = ['tconst', 'Writer'])

In [314]:
writingStaffDF2 = writingStaffDF.sort_values(by = 'Writer')
writerDictDF2 = writerDictDF.sort_values(by = 'Writer')

def stripSpace(value):
    return value.strip(' ')
    
writingStaffDF2['Writer'] = writingStaffDF2['Writer'].apply(stripSpace)
writerDictDF2['Writer'] = writerDictDF2['Writer'].apply(stripSpace)

In [334]:
writingStaffDF2.head(10)

          tconst            Writer
11370  tt7852294
1082   tt1795203  Aaron Blitzstein
1058   tt1819898  Aaron Blitzstein
1029   tt1758140  Aaron Blitzstein
1016   tt1610753  Aaron Blitzstein
1066   tt1795201  Aaron Blitzstein
1127   tt1795206  Aaron Blitzstein
1010   tt1610752  Aaron Blitzstein
1103   tt1795207  Aaron Blitzstein
1038   tt1759063  Aaron Blitzstein

In [333]:
writerDictDF2.head(10)

                   Writer  Episodes Written   gender  accuracy
470                                       1  unknown         0
117      Aaron Blitzstein                16     male        99
24            Aaron Korsh               103     male        99
264             Aaron Lee                 4     male        99
224           Aaron Shure                 6     male        99
326           Abed Gheith                 2     male        97
41   Abraham Higginbotham                48     male        99
123            Adam Chase                16     male        99
66          Adam Faberman                29     male        99
447       Adam I. Lapidus                 1     male        99

In [340]:
writingStaffWithGender = writingStaffDF2.merge(writerDictDF2, how = 'left')
writingStaffWithGender = writingStaffWithGender.sort_values(by = 'tconst')
writingStaffWithGender = writingStaffWithGender.reset_index()
del writingStaffWithGender['index']

In [ ]:
# add a new column of blank strings
writingStaffWithGender['writerGenders'] = ''

# iterate over the length of the data frame in order to create full lists of writers involved, rather
# than having writing staffs seperated over multiple rows
for writer in range(0, len(writingStaffWithGender) - 1):
    
    # create a variable holding the string of the writers name for current row
    genders = writingStaffWithGender['gender'][writer]
    count = 1
    
    # while subsequent rows contain information about the current row's same movie, add the writer's
    # names to the 'names' variable. 
    while writingStaffWithGender['tconst'][writer] == writingStaffWithGender['tconst'][writer + count]:
        genders = genders + "," + writingStaffWithGender['gender'][writer + count]
        count = count + 1
        
    # once the last row for the given movie is reached and all writers have been added to the 
    # 'names' variable, replace the empty string in the 'writers' column with the string held by 'names'
    writingStaffWithGender['writerGenders'][writer] = genders

In [347]:
writingStaffWithGender.head()

,tconst,Writer,Episodes Written,gender,accuracy,writerGenders
0,tt0177842,John Swartzwelder,59,male,99,"male,male,male,male,male,male,male"
1,tt0177842,James L. Brooks,630,male,99,"male,male,male,male,male,male"
2,tt0177842,Steve Tompkins,4,male,99,"male,male,male,male,male"
3,tt0177842,Matt Groening,630,male,100,"male,male,male,male"
4,tt0177842,David X. Cohen,35,male,99,"male,male,male"

We now have a dataframe of episode title IDs and corresponding gender compositions, in string list form. However, each episode is listed multiple times, once for each writer. Additionally, the full gender compositions (including the gender of every writer for a given episode) are only included in the first instance of each episode. Thus, the final step is to drop duplicate episode IDs, keeping only the first instance, and deleting the unhelpful columns.

In [372]:
# drop duplicate episodes in the data frame, always keeping the first instance of each repeated movie
# because the full writing staffs are only included in the first instance
writingStaffWithGender2 = writingStaffWithGender.drop_duplicates(subset = 'tconst', keep = 'first')

writingStaffWithGender2 = writingStaffWithGender2.drop(['gender', 'Episodes Written', 'Writer', 'gender', 'accuracy'], axis = 1)

writingStaffWithGender2 = writingStaffWithGender2.reset_index()
del writingStaffWithGender2['index']

writingStaffWithGender2.head()

      tconst                       writerGenders
0  tt0177842  male,male,male,male,male,male,male
1  tt0348034               male,male,male,female
2  tt0394893                 male,male,male,male
3  tt0458217                      male,male,male
4  tt0515207                      male,male,male

Finally, we have a proper dataframe containing each TV episode and the genders of each writer for that episode. This is merged with the episodesData dataframe, pulling all necessary data together.

In [388]:
# attach each episode's writing staff to our main dataframe, topComediesOrdered
episodesDataWithGenderComp = episodesData.merge(writingStaffWithGender2, how = "inner", on = "tconst")

episodesDataWithGenderComp.head(3)

,tconst,primaryTitle,startYear,runtimeMinutes,averageRating,numVotes,parentTconst,series,episodeNumberInt,seasonNumberInt,totalNum,writers,writerGenders
0,tt0515236,Pilot,2003,21,8.3,2290,tt0367279,Arrested Development,1,1,1,Mitchell Hurwitz,male
1,tt0515256,Top Banana,2003,22,8.6,1986,tt0367279,Arrested Development,2,1,2,"Abraham Higginbotham, Mitchell Hurwitz, John L...","male,male,male"
2,tt0515212,Bringing Up Buster,2003,22,8.2,1826,tt0367279,Arrested Development,3,1,3,"Richard Rosenstock, Mitchell Hurwitz, Abraham ...","male,male,male"

In [376]:
# Confirming all dataframes are of equal length...
print(len(writingStaffWithGender2))
print(len(episodesData))
print(len(episodesDataWithGenderComp))

2512
2512
2512

In [381]:
def calculateGenderComp(value):
    """
    Given a list of individuals' genders in comma-seperated string format, 
    return the proportion of males included in the list
    """
    
    listOfGender = value.split(',')
    
    numMaleWriters = 0
    
    for writerGender in listOfGender:
        if writerGender == 'male':
            numMaleWriters = numMaleWriters + 1
            
    return numMaleWriters / len(listOfGender)


episodesDataWithGenderComp['perMaleWrite'] = 0
episodesDataWithGenderComp['perMaleWrite'] = episodesDataWithGenderComp['writerGenders'].apply(calculateGenderComp)

In [383]:
episodesDataWithGenderComp

,tconst,primaryTitle,startYear,runtimeMinutes,averageRating,numVotes,parentTconst,series,episodeNumberInt,seasonNumberInt,totalNum,writers,writerGenders,perMaleWrite
0,tt0515236,Pilot,2003,21,8.3,2290,tt0367279,Arrested Development,1,1,1,Mitchell Hurwitz,male,1.000000
1,tt0515256,Top Banana,2003,22,8.6,1986,tt0367279,Arrested Development,2,1,2,"Abraham Higginbotham, Mitchell Hurwitz, John L...","male,male,male",1.000000
2,tt0515212,Bringing Up Buster,2003,22,8.2,1826,tt0367279,Arrested Development,3,1,3,"Richard Rosenstock, Mitchell Hurwitz, Abraham ...","male,male,male",1.000000
3,tt0515223,Key Decisions,2003,21,8.5,1739,tt0367279,Arrested Development,4,1,4,"Brad Copeland, Mitchell Hurwitz, Abraham Higgi...","male,male,male",1.000000
4,tt0515214,Charity Drive,2003,21,8.4,1647,tt0367279,Arrested Development,5,1,5,"Barbie Adler, Mitchell Hurwitz, Abraham Higgin...","male,female,male",0.666667
5,tt0515257,Visiting Ours,2003,21,8.2,1600,tt0367279,Arrested Development,6,1,6,"John Levenstein, Richard Rosenstock, Mitchell ...","male,male,male,male",1.000000
6,tt0515221,In God We Trust,2003,21,8.2,1563,tt0367279,Arrested Development,7,1,7,"Abraham Higginbotham, Mitchell Hurwitz","male,male",1.000000
7,tt0515231,My Mother the Car,2003,21,8.2,1549,tt0367279,Arrested Development,8,1,8,"Mitchell Hurwitz, Abraham Higginbotham, Chuck ...","male,male,male",1.000000
8,tt0515247,Storming the Castle,2004,22,8.5,1520,tt0367279,Arrested Development,9,1,9,"Mitchell Hurwitz, Abraham Higginbotham, Brad C...","male,male,male",1.000000
9,tt0515235,Pier Pressure,2004,22,9.2,1956,tt0367279,Arrested Development,10,1,10,"Abraham Higginbotham, Mitchell Hurwitz, James ...","male,male,male",1.000000
10,tt0515238,Public Relations,2004,22,8.3,1519,tt0367279,Arrested Development,11,1,11,"Courtney Lilly, Abraham Higginbotham, Mitchell...","male,female,male",0.666667
11,tt0515226,Marta Complex,2004,22,8.5,1470,tt0367279,Arrested Development,12,1,12,"John Levenstein, Mitchell Hurwitz, James Valle...","male,male,male,male",1.000000
12,tt0515210,Beef Consomme,2004,22,8.5,1463,tt0367279,Arrested Development,13,1,13,"Chuck Martin, Abraham Higginbotham, Mitchell H...","male,male,male,male",1.000000
13,tt0515244,Shock and Aww,2004,22,8.7,1502,tt0367279,Arrested Development,14,1,14,"Abraham Higginbotham, Chuck Martin, James Vall...","male,male,male,male",1.000000
14,tt0515246,Staff Infection,2004,22,8.3,1418,tt0367279,Arrested Development,15,1,15,"Abraham Higginbotham, Mitchell Hurwitz, Brad C...","male,male,male",1.000000
15,tt0515208,Altar Egos,2004,22,8.6,1439,tt0367279,Arrested Development,16,1,16,"Mitchell Hurwitz, Barbie Adler, Abraham Higgin...","female,male,male",0.666667
16,tt0515222,Justice Is Blind,2004,22,8.8,1470,tt0367279,Arrested Development,17,1,17,"Abraham Higginbotham, Mitchell Hurwitz","male,male",1.000000
17,tt0515228,Missing Kitty,2004,22,8.4,1375,tt0367279,Arrested Development,18,1,18,"Abraham Higginbotham, John Levenstein, Mitchel...","male,male,male",1.000000
18,tt0515211,Best Man for the Gob,2004,22,8.3,1364,tt0367279,Arrested Development,19,1,19,"Mitchell Hurwitz, Richard Rosenstock, Abraham ...","male,male,male",1.000000
19,tt0515258,Whistler's Mother,2004,22,8.1,1353,tt0367279,Arrested Development,20,1,20,"John Levenstein, Abraham Higginbotham, James V...","male,male,male,male",1.000000
20,tt0515232,Not Without My Daughter,2004,22,8.7,1374,tt0367279,Arrested Development,21,1,21,"Abraham Higginbotham, Richard Rosenstock, Mitc...","male,male,male",1.000000
21,tt0515224,Let 'Em Eat Cake,2004,22,8.8,1416,tt0367279,Arrested Development,22,1,22,"Abraham Higginbotham, Mitchell Hurwitz, James ...","male,male,male",1.000000
22,tt0515253,The One Where Michael Leaves,2004,30,8.8,1360,tt0367279,Arrested Development,1,2,23,"Mitchell Hurwitz, Richard Rosenstock","male,male",1.000000
23,tt0515254,The One Where They Build a House,2004,30,8.7,1367,tt0367279,Arrested Development,2,2,24,"Mitchell Hurwitz, James Vallely","male,male",1.000000
24,tt0515209,Amigos,2004,30,8.9,1444,tt0367279,Arrested Development,3,2,25,"Brad Copeland, Mitchell Hurwitz","male,male",1.000000
25,tt0515219,Good Grief!,2004,30,9.1,1564,tt0367279,Arrested Development,4,2,26,"John Levenstein, Mitchell Hurwitz","male,male",1.000000
26,tt0515243,Sad Sack,2004,30,8.7,1281,tt0367279,Arrested Development,5,2,27,"Barbie Adler, Mitchell Hurwitz","female,male",0.500000
27,tt0515207,Afternoon Delight,2004,30,9.1,1603,tt0367279,Arrested Development,6,2,28,"Mitchell Hurwitz, Abraham Higginbotham, Chuck ...","male,male,male",1.000000
28,tt0515248,Switch Hitter,2005,30,8.3,1247,tt0367279,Arrested Development,7,2,29,"Mitchell Hurwitz, Courtney Lilly, Barbie Adler","female,male,female",0.333333
29,tt0515239,Queen for a Day,2005,30,8.2,1216,tt0367279,Arrested Development,8,2,30,"Brad Copeland, Mitchell Hurwitz","male,male",1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482,tt5847448,There Will Be Buds,2016,22,6.8,403,tt0096697,The Simpsons,6,28,602,"James L. Brooks, Matt Groening, Sam Simon, Mat...","male,male,male,male",1.000000
2483,tt5222762,Havana Wild Weekend,2016,21,6.2,401,tt0096697,The Simpsons,7,28,603,"Matt Groening, Deb Lacusta, Dan Castellaneta, ...","male,male,male,male,male,female",0.833333
2484,tt4765710,Dad Behavior,2016,21,6.7,379,tt0096697,The Simpsons,8,28,604,"James L. Brooks, Sam Simon, Ryan Koh, Matt Gro...","male,male,male,male",1.000000
2485,tt5847466,The Last Traction Hero,2016,21,6.4,363,tt0096697,The Simpsons,9,28,605,"James L. Brooks, Matt Groening, Bill Odenkirk,...","male,male,male,male",1.000000
2486,tt5570642,The Nightmare After Krustmas,2016,22,6.0,383,tt0096697,The Simpsons,10,28,606,"James L. Brooks, Matt Groening, Jeff Westbrook...","male,male,male,male",1.000000
2487,tt5847488,Pork and Burns,2017,23,7.0,392,tt0096697,The Simpsons,11,28,607,"Sam Simon, Rob LaZebnik, Matt Groening, James ...","male,male,male,male",1.000000
2488,tt5847482,The Great Phatsby: Part 1,2017,60,6.4,497,tt0096697,The Simpsons,12,28,608,"Sam Simon, Dan Greaney, Matt Groening, James L...","male,male,male,male,male",1.000000
2489,tt7410954,The Great Phatsby: Part 2,2017,\N,5.9,157,tt0096697,The Simpsons,13,28,609,"Dan Greaney, James L. Brooks, Matt Groening, M...","male,male,male,male,male",1.000000
2490,tt5847490,Fatzcarraldo,2017,21,6.3,359,tt0096697,The Simpsons,14,28,610,"Sam Simon, Matt Groening, James L. Brooks, Mic...","male,male,male,male",1.000000
2491,tt5847492,The Cad and the Hat,2017,\N,6.5,356,tt0096697,The Simpsons,15,28,611,"James L. Brooks, Tom Root, Ron Zimmerman, Sam ...","male,male,male,male,male,male",1.000000
2492,tt5847434,Kamp Krustier,2017,\N,6.6,358,tt0096697,The Simpsons,16,28,612,"Matt Groening, James L. Brooks, David M. Stern...","male,male,male,male",1.000000
2493,tt4765712,22 for 30,2017,21,6.5,368,tt0096697,The Simpsons,17,28,613,"Sam Simon, Matt Groening, Joel H. Cohen, James...","male,male,male,male",1.000000
2494,tt6012538,A Father's Watch,2017,21,6.9,349,tt0096697,The Simpsons,18,28,614,"Matt Groening, James L. Brooks, Sam Simon, Sim...","male,male,male,male",1.000000
2495,tt6012540,The Caper Chase,2017,21,6.1,375,tt0096697,The Simpsons,19,28,615,"Matt Groening, James L. Brooks, Sam Simon, Jef...","male,male,male,male",1.000000
2496,tt5951416,Looking for Mr. Goodbart,2017,21,6.9,365,tt0096697,The Simpsons,20,28,616,"Matt Groening, James L. Brooks, Carolyn Omine,...","male,female,male,male",0.750000
2497,tt5951430,Moho House,2017,21,6.1,322,tt0096697,The Simpsons,21,28,617,"Sam Simon, Jeff Martin, Matt Groening, James L...","male,male,male,male",1.000000
2498,tt6733170,Dogtown,2017,21,6.5,325,tt0096697,The Simpsons,22,28,618,"Matt Groening, Sam Simon, J. Stewart Burns, Ja...","male,male,male,male",1.000000
2499,tt7156270,The Serfsons,2017,21,6.8,499,tt0096697,The Simpsons,1,29,619,"Brian Kelley, Sam Simon, James L. Brooks, Matt...","male,male,male,male",1.000000
2500,tt7156264,Springfield Splendor,2017,21,6.5,376,tt0096697,The Simpsons,2,29,620,"Miranda Thompson, Sam Simon, Matt Groening, Ja...","male,male,male,female,male",0.800000
2501,tt6225292,Whistler's Father,2017,21,6.1,312,tt0096697,The Simpsons,3,29,621,"Tom Gammill, Sam Simon, James L. Brooks, Max P...","male,male,male,male,male",1.000000
2502,tt6890620,Treehouse of Horror XXVIII,2017,21,7.1,416,tt0096697,The Simpsons,4,29,622,"Sam Simon, John Frink, James L. Brooks, Matt G...","male,male,male,male",1.000000
2503,tt7480030,Grampy Can Ya Hear Me,2017,21,6.2,277,tt0096697,The Simpsons,5,29,623,"Sam Simon, Matt Groening, James L. Brooks, Bil...","male,male,male,male",1.000000
2504,tt7548148,The Old Blue Mayor She Ain't What She Used To Be,2017,21,6.3,278,tt0096697,The Simpsons,6,29,624,"Sam Simon, Tom Gammill, Max Pross, James L. Br...","male,male,male,male,male",1.000000
2505,tt7368116,Singin' in the Lane,2017,21,6.3,272,tt0096697,The Simpsons,7,29,625,"Sam Simon, James L. Brooks, Ryan Koh, Matt Gro...","male,male,male,male",1.000000
2506,tt7343996,Mr. Lisa's Opus,2017,21,6.8,283,tt0096697,The Simpsons,8,29,626,"James L. Brooks, Al Jean, Sam Simon, Matt Groe...","male,male,male,male",1.000000
2507,tt7480064,Gone Boy,2017,21,7.2,274,tt0096697,The Simpsons,9,29,627,"John Frink, Matt Groening, Sam Simon, James L....","male,male,male,male",1.000000
2508,tt7156278,Haw-Haw Land,2018,21,6.5,262,tt0096697,The Simpsons,10,29,628,"Miranda Thompson, Tim Long, Matt Groening, Jam...","male,male,female,male,male",0.800000
2509,tt6890594,Frink Gets Testy,2018,21,6.1,235,tt0096697,The Simpsons,11,29,629,"Matt Groening, Sam Simon, James L. Brooks, Dan...","male,male,male,male",1.000000
2510,tt7852294,Homer is Where the Art Isn't,2018,21,6.6,211,tt0096697,The Simpsons,12,29,630,,"male, male, male, male, male",0.200000
2511,tt7343988,3 Scenes Plus a Tag from a Marriage,2018,\N,6.7,137,tt0096697,The Simpsons,13,29,631,"Sam Simon, Max Pross, James L. Brooks, Tom Gam...","male,male,male,male,male",1.000000

In [384]:
episodesDataWithGenderComp.to_csv("C:\\Users\\Oliver\\Documents\\imbd episodes\\episodesDataWithGenderComp-4-24-18.csv")